
<header>
    <div class=container>
      <div class="logo">
        <a href="home"> 
          <h1>Canvass</h1>
          <span>Every opinion matters</span>
        </a>
        <!-- <img src="" title="Canvass"/> -->
      </div>
      <nav>
        <ul *ngIf="loggedInUser == null; else signOut">
          <li><a href="login/" title="login">Login</a></li>
          <li class="button"><a href="sign-up/" title="sign up">Sign Up</a></li>
        </ul>
        <ng-template #signOut>
            <ul>
                <li><a href="sign-out/" title="login">sign out</a></li>
            </ul>
        </ng-template>
      </nav>
    </div>
  </header>
  <section class="content">
    <div class="container">
      <div class="about-img">
        <img src="../../assets/images/about.jpg" alt="about"/>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
  <footer>
    <div class="container">
      Canvass &copy; 2020 
    </div>    
  </footer> 
  
  



