<form #signupForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h2>Sign Up</h2>
    <div class="label-container">
      <label class="form-control-label">Username</label>
    </div>
    <div class="input-container">
      <input type="email" id="username" class="form-control" required placeholder="Enter your username" [(ngModel)]="user.username" name="username" #username="ngModel"/>
    </div><br/>
    <div class="label-container">
      <label class="form-control-label">Password</label>
    </div>
    <div class="input-container">
      <input name="password" id="password" class="form-control" type="password" [(ngModel)]="user.password" #password="ngModel"  required appPasswordValidator/>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
        {{password.errors.appPasswordValidator}}
        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.appPasswordValidator">
          Password is not valid.
        </div>
      </div>
    </div><br/>
    <div class="label-container">
      <label class="form-control-label">Confirm Password</label>
    </div>
    <div class="input-container">
      <input name="confirmpassword" id="confirmpassword" class="form-control" type="password" [(ngModel)]="user.confirmpassword" #confirmpassword="ngModel" required/>
      <div *ngIf="confirmpassword.invalid && (confirmpassword.dirty || confirmpassword.touched)" class="alert alert-danger">
        <div *ngIf="confirmpassword.errors.required">
          Password is required.
        </div>
      </div>
    </div><br/>
    <div class="label-container">
      <label class="form-control-label">Full Name</label>
    </div>
    <div class="input-container">
      <input name="fullname" id="fullname" class="form-control" type="text" [(ngModel)]="user.fullname" #fullname="ngModel" required/>
      <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="alert alert-danger">
        <div *ngIf="fullname.errors.required">
          Full Name is required.
        </div>
      </div>
    </div><br/>
    <div class="label-container">
      <label class="form-control-label">Phone Number</label>
    </div>
    <div class="input-container">
      <input name="phonenumber" id="phonenumber" class="form-control" type="text" [(ngModel)]="user.phonenumber" #phonenumber="ngModel" required/>
      <div *ngIf="phonenumber.invalid && (phonenumber.dirty || phonenumber.touched)" class="alert alert-danger">
        <div *ngIf="phonenumber.errors.required">
          Phone number is required.
        </div>
      </div>
    </div><br/>
    <div class="label-container">
      <label class="form-control-label">Profile Summary</label>
    </div>
    <div class="input-container">
      <input name="profilesummary" id="profilesummary" class="form-control" type="text" [(ngModel)]="user.profilesummary" #profilesummary="ngModel"/>
      <div *ngIf="profilesummary.invalid && (profilesummary.dirty || profilesummary.touched)" class="alert alert-danger">
      </div>
    </div><br/><br/>
    <ul>
      <li><button class="button" type="submit" [disabled]="!signupForm.form.valid">Sign Up</button></li>
      <li><a href="home"><button class="button">Cancel</button></a></li>
    </ul>
  </div>
</form>
